/**
 * @name Translucence
 * @version 1.0.6.2
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 * 
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
